.btn-primary {
    margin-right: 1rem;
    --bs-btn-font-size: 1rem;
    font-family: "Open Sans", sans-serif !important;

    color: black !important;
    background-color: #C9DF8A !important;
}

.btn-secondary {
    margin-right: 1rem;
    --bs-btn-font-size: 1rem;
    font-family: "Open Sans", sans-serif !important;

    color: black !important;
    background-color: #F0F7DA !important;
}

.btn-secondary:hover {
    --bs-btn-hover-bg: #F0F7DA;
    --bs-btn-hover-color: black;
    --bs-btn-active-bg: #F0F7DA;
    --bs-btn-active-color: black;
}

.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.6rem !important;
    width: 20rem;
    height: 4rem;
}

.btn-sm {
    padding: 0.5rem 1rem;
    font-size: 1.2rem !important;
    width: 7rem;
    height: 3rem;
}