.btn-primary {
    margin-right: 1rem;
    --bs-btn-font-size: 1rem;
    font-family: "Open Sans", sans-serif !important;

    --bs-btn-color: black !important;
    ---bs-btn-bg: #C9DF8A !important;
}

.btn-secondary {
    margin-right: 1rem;
    --bs-btn-font-size: 1rem;
    font-family: "Open Sans", sans-serif !important;

    --bs-btn-color: black !important;
    --bs-btn-bg: #F0F7DA !important;
}

.btn-secondary:hover {
    --bs-btn-hover-bg: var(--bs-btn-bg) !important;
    --bs-btn-hover-color: var(--bs-btn-color) !important;
}

.btn-lg {
    padding: 0.5rem 1rem;
    width: 16rem;
    height: 3rem;
}

.btn-sm {
    padding: 0.5rem 1rem;
    font-size: 1.2rem !important;
    width: 7rem;
    height: 3rem;
}