.row {
    margin-top: 2rem !important;
    margin-left: 3rem !important;
    margin-right: 0 !important;
    margin-bottom: 3rem !important;
}

.row h1 {
    font-size: 4vw;
    letter-spacing: -0.046875em;
    line-height: 4.5vw;
    font-weight: bold;
}

.row p {
    font-size: 2vw;
    margin-bottom: 2rem !important;
}

.coluna1 img {
    margin-top: 4.5rem;
}

.coluna2 {
    margin-left: 10rem;
}