#navbar {
    font: 'open sans';
    background-color: #234D20 !important;
}

.nav-link {
    color: white !important;
}

#btn-login {
    color: black !important;
    background-color: #F0F7DA !important;
}

#btn-cadastro {
    color: black !important;
    background-color: #C9DF8A !important;
}